
h1 {
  font-family:cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f9b8;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #e58bfd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.me{
padding: 25px;
  border: double;
  border-color: #3dffff
}
